/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
   --bg-image-page: url(../images/cover-image-dark.png);
  --bg-color-page: #000028;
  --text-color: #f1b2ce;
  --text-color-rec: #ff006f;
  --accent-color-decorated-zone:#FF0070;
  --accent-color-butt_hover:rgba(255, 0, 112, 0.4);
  --accent-color-butt_focus:#FF0070;
  --accent-color-butt_active:#FF0070;
  --text-color-theme-menu:#FF0070;
  --header__title-color:#DB00FF;
  --accent-color:#FF0070;
  --subtitle-color:#000028;
  --color-main_section-title:#FF0070;
}